# Node modules
/*/node_modules

# React
/react/build

# Firebase Functions
/functions/firebase.js

# Firebase React Scripts
/react/src/firebase.js
/react/src/firebase.messaging.js

# Firebase general config (Hosting and others)
/firebase.json
/.firebaserc
/.firebase